body{
    font-family: Helvetica, sans-serif;
}

.home-text{
    color:#026670;
    font-size: 1.25em;
}

.post-excerpt {
    display: flex;
    padding-bottom: 30px;
}

.post-excerpt-image {
    width: 62%;
    padding-left: 50px;
    padding-top: 10px;
}

.post-excerpt-text {
    width: 38%;
    text-align:left;
    color:#026670;
}

.post-title{
    color:#026670;
}

.site-header { 
    background-color: #e1e5ec;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.post-meta{
    color:#aaaaaa;
}

.post-link a {
    color:#026670;
    font-size: 20px;
    letter-spacing: 2px;
}

.site-title, .page-link, .post-content, .post-content a{
    color: #026670 !important;
}

.site-title { 
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
}

.page-link { 
    font-size: 18px;
    letter-spacing: 1.8px;
}

.home-text, .post-title, h1{
    font-size: 30px;
    letter-spacing: 3px;   
}

h1 {
    color:#026670;
}

.footer-heading{
    color: #ffffff;
    font-family: Helvetica, sans-serif;

}

.page-content{
    margin:0px !important;
}

.wrapper{
    max-width: calc(900px - (30px * 2));
}

.gallery-box{
    display: flex;
    flex-wrap: wrap;
}

.gallery-image{
    width: 50%;
}

@media (max-width: 640px) {
    .post-excerpt {
        flex-direction: column-reverse;
    }

    .post-excerpt-text {
        width: 100%;
    }

    .post-excerpt-image{
        width: 100%;
        padding: 0px;
    }

    .gallery-image{
        width: 100%;
    }

}